@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900);
body {
	font-family: "Montserrat", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
#link {
	color: blue;
	text-decoration: underline;
	font-size: 40px;
	margin: 20px 0 100px 30px;
}
.header-zag {
	font-size: 80px;
	font-weight: 600;
	min-height: 100px;
	color: rgb(88, 4, 32);
	text-align: center;
	line-height: 1.25;
	background: url("../img/zast.jpg");
	background-attachment: fixed;
	text-shadow: 2px 2px 2px black;
}
.cont {
	min-height: 50px;
	background-color: rgb(240, 171, 213);
	/* --Не рабоатет для фона без url-изображения  */
	background-attachment: fixed;
}
.cont2 {
	min-height: 50px;
	background-attachment: fixed;
	background-color: rgb(245, 218, 235);
}
.header {
	background-image: url("../img/zast3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.header-nav {
	margin: 0px auto;
	padding: 15px;
	max-width: 600px;
	font-size: 40px;
	font-weight: 500;
	background-image: url('../img/zast3.jpg');
	background-repeat: no-repeat;
	border-radius: 30px;
}
.header-nav-list li {
	margin: 25px;
	color: rgb(88, 4, 32);
	font-weight: 500;
	text-shadow: 1px 1px 2px black;
	border-bottom: 2px dotted;
	display: inline-block;
}
.part1 {
	background-image: url("../img/lug_pink.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: rgba(7, 1, 1, 0.728);
	margin: 0 10px;
}
#zag1 {
	min-height: 150px;
	text-align: center;
	font-size: 45px;
	font-size: 45px;
	color: rgb(88, 4, 32);
	text-shadow: 2px 2px 2px black;
	font-weight: 600;
	letter-spacing: 3px;
	padding: 20px 0 0 0;
	background: url("../img/rose-butchar.jpg") 0 0/85px no-repeat,
		url("../img/rose-butchar.jpg") 60px 40px/75px no-repeat, url("../img/rose-butchar.jpg") 115px 80px/55px no-repeat,
		url("../img/rose-butchar.jpg") right top/150px no-repeat;
	margin: 0 0 20px 0;
}
.main p {
	padding: 20px;
	text-indent: 30px;
	text-align: justify;
	border: 2px solid rgb(88, 4, 32);
	margin: 0 0px 3px 400px;

	border-radius: 30px;
}
.parag-1 {
	background-image: radial-gradient(circle, rgba(239, 251, 63, 0.12481454005934722) 0%, rgba(252, 70, 107, 1) 100%);
}
.parag-2 {
	background-image: radial-gradient(
		circle,
		rgba(239, 251, 63, 0.12481454005934722) 0%,
		rgba(252, 70, 107, 0.34930767352764425) 100%
	);
}
.parag-3 {
	background-image: linear-gradient(0deg, rgba(242, 231, 16, 0.34315382737379807) 0%, rgba(253, 45, 93, 1) 100%);
}
.parag-4 {
	background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(233, 223, 148, 0.9082983535210959) 100%);
}
#zag2 {
	background-image: url("../img/fl.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 150px;
	text-align: center;
	font-size: 45px;
	color: rgb(88, 4, 32);
	text-shadow: 2px 2px 2px black;
	font-weight: 600;
	letter-spacing: 3px;
	background-color: rgba(238, 128, 214, 0.102);
	border-radius: 3px;
	margin: 0 0 20px;
	padding: 40px 0;
}
.foto {
	margin: 20px;
}

.foto1 {
	background-image: url('../img/zast4.jpg');
	background-size: 200px;
	background-repeat: repeat-x;
	min-height: 150px;
	box-shadow: 1px 1px 15px 5px rgba(196, 15, 61, 0.775);
	margin: 0 0 20px;
}
.foto2 {
	background-image: url("../img/lug.jpg");
	background-repeat: no-repeat;
	min-height: 300px;
	background-size: contain;
	background-position: center;
	box-shadow: 1px 1px 15px 5px rgba(196, 15, 61, 0.775);
	background-color: rgba(203, 45, 111, 0.326);
	margin: 0 0 20px;
}
.foto3 {
	min-height: 300px;
	box-shadow: 1px 1px 15px 5px rgba(196, 15, 61, 0.775);
	background-image: url('../img/zast4.jpg');
	background-size: 200px;
	background-repeat: repeat-y;
	background-color: rgba(238, 128, 214, 0.347);
}
.foto3 p {
	border: none;
	padding: 70px 50px 0 250px;
	margin: 0;
}
#zag3 {
	background-image: url("../img/zast4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 150px;
	background-position: center;
	text-align: center;
	font-size: 45px;
	color: rgb(88, 4, 32);
	text-shadow: 2px 2px 2px black;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 0 0 20px;
	padding: 40px 0;
}
.list1 {
	background: linear-gradient(
		90deg,
		rgba(180, 58, 112, 0.3060574571625525) 0%,
		rgba(253, 235, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
}
.list2 {
	background: radial-gradient(
		circle,
		rgba(251, 63, 111, 0.12481454005934722) 0%,
		rgba(252, 240, 70, 0.465721322708771) 100%
	);
}
.list3 {
	background: linear-gradient(
		90deg,
		rgba(180, 58, 112, 0.3060574571625525) 0%,
		rgba(253, 235, 29, 0.42370451598608194) 50%,
		rgba(252, 176, 69, 1) 100%
	);
}
.list1 li {
	padding: 0 0 0 30px;
	margin: 0px 0 12px 10px;
	min-height: 22px;
	background: url("../img/yellou_flo.jpg") 0 0 / 20px 20px no-repeat;
}
.list2 li {
	padding: 0 0 0 30px;
	margin: 0px 0 12px 10px;
	background: url("../img/vector.svg") 5px 2px / 10px 10px no-repeat;
}
.list1,
.list2,
.list3 {
	margin: 0 10px 30px 10px;
	border: 1px dotted rgba(255, 0, 115, 0.755);
}
.list3 li,
.list3-1 li {
	padding: 0 0 0 40px;
	margin: 0px 0 12px 10px;
	background: url("../img/vector.svg") 7px 1px / 25px 25px no-repeat;
	min-height: 25px;
}
.list3-1 {
	margin-top: 12px;
}
.vv {
	font-size: 40px;
	margin: 0 0 20px 20px;
	color: blue;
	text-decoration: underline;
}
.footer {
	background-image: url("../img/kovil.jpg");
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-size: 45px;
	color: rgb(88, 4, 32);
	text-shadow: 2px 2px 2px black;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 0 0 20px;
	padding: 40px 0;
}

/* --Лист2---- */
.main2 {
	font-family: "Lato", sans-serif;
}
.maket-1 {
	max-width: 810px;
	margin: 48px auto 50px;
}
.zag-maket-1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1e212c;
	margin: 0 0 26px 0;
}
.date-time {
	margin: 0 0 40px;
	line-height: 1.6;
	color: #787a80;
}
.date {
	display: inline-block;
	background: url("../img/date.svg") 4px 4px no-repeat;
	max-width: 132px;
	text-align-last: right;
	padding: 0 0 0 24px;
}
.time {
	display: inline-block;
	background: url("../img/Union.svg") 4px 4px no-repeat;
	margin: 0 0 0 24px;
	padding: 0 0 0 24px;
}
.picture {
	margin: 0 0 60px;
}
.paragr-maket1-1 {
	margin: 0 0 24px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}
.paragr-maket1-2 {
	margin: 0 0 48px;
	color: #424551;
	line-height: 1.6;
}
.paragr-maket1-2-1 {
	margin: 0 0 33px 0;
}
.paragr-maket1-3 {
	margin: 0 0 48px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
	padding: 0 0 0 58px;
	background: url("../img/kav.png") 0 0 no-repeat, url("../img/kav.png") 18px 0 no-repeat;
}
.paragr-maket1-4 {
	margin: 0 0 24px;
	line-height: 1.6;
	color: #424551;
}
.list-maket1-ul {
	margin: 0 0 24px;
	color: #424551;
}
.list-maket1-1 {
	margin: 0 0 4px;
	padding: 6px 0 6px 32px;
	background: url("../img/list.svg") 0 6px no-repeat;
}
.paragr-maket1-5 {
	line-height: 1.6;
	color: #424551;
}
/* --------------Макет-2------------------- */
.maket-2 {
	max-width: 358px;
	margin: 0 auto 0;
}
.zag-maket-2 {
	font-weight: 700;
	line-height: 1.5;
	color: #1e212c;
	text-transform: uppercase;
	margin: 0 0 8px 0;
}
.zag-maket-2-2 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1e212c;
	margin: 0 0 48px 0;
}
.list-maket2 {
	margin: 0 0 22px 0;
}
.list-maket2-li {
	padding: 0px 0 0px 32px;
	margin: 0 0 12px 0;
	line-height: 1.6;
	color: #424551;
	background: url("../img/list.svg") 0 6px no-repeat;
}
.button {
	font-weight: 700;
	font-size: 14px;
	line-height: 3.14;
	text-align: center;
	color: #ffffff;
	letter-spacing: 0.5px;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	min-width: 161px;
	border-radius: 4px;
	display: inline-block;
}
